<body class="welcome">
	<div class="v-center">
		<h1 class="white">Welcome To The Davis Family Recipe Book</h1>
		<br>
		<h2 class="white">Please Sign in or Sign up!</h2>
		<h2 class="green">email: guest</h2>
		<h2 class="green">pass: testing</h2>
	</div>

</body>
