// Place all the styles related to the welcome controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "varibles";

.welcome {
	background: url("DavisFamilyChristmasEdit.jpg")no-repeat center center fixed;;
  	width: 100%;
	height: 100%;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.v-center {
	padding-top: 35vh;
}
